<div class="item clearfix mt-1 mb-5">
  <div class="col-md-4">
    <div class="img-wrapper">
      <%#= image_tag "http://cms-bucket.nosdn.127.net/catchpic/b/b0/b073d08314a480c6b19454a8d4612107.jpg?imageView&thumbnail=550x0" %>
      <%= image_tag item.image.url, class: "img-responsive" %>
    </div>
  </div>
  <div class="content printable col-md-8">
    <div class="title">
      <%= item.name %>
      <div class="actions dropdown pull-right">
        <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          更多
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><%= link_to "修改資料", edit_admin_item_path(item), class: "dropdown-item" %></li>
          <!-- <li><%#= link_to "申請使用", edit_admin_item_path(item), class: "dropdown-item" %></li>
          <li><%#= link_to "所在位置", edit_admin_item_path(item), class: "dropdown-item" %></li>
          <li><%#= link_to "盤點紀錄", edit_admin_item_path(item), class: "dropdown-item" %></li>
          <li role="separator" class="divider"></li>
          <li><%#= link_to "列印標籤", edit_admin_item_path(item), class: "dropdown-item" %></li> -->
        </ul>
      </div>
    </div>    
    <div class="row properties">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-3 col-xs-3 name"><%= Item.human_attribute_name(:id) %></div>
          <div class="col-md-9 col-xs-9 value"><%= "SJZ#{item.id.to_s.rjust(5,'0')}" %></div>
        </div>
        <div class="row">
          <div class="col-md-3 col-xs-3 name"><%= Item.human_attribute_name(:department_id) %></div>
          <div class="col-md-9 col-xs-9 value">
            <%= link_to item.department.name, admin_department_items_path(item.department.id) %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-xs-3 name"><%= Item.human_attribute_name(:employee_id) %></div>
          <div class="col-md-9 col-xs-9 value">
            <%= link_to item.employee.name, admin_employee_items_path(item.employee.id) %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <% if item.quantity.present? %>
          <div class="row">
            <div class="col-md-3 col-xs-3 name"><%= Item.human_attribute_name(:quantity) %></div>
            <div class="col-md-9 col-xs-9 value"><%= item.quantity %></div>
          </div>
        <% end %>
        <% if item.spec.present? %>
          <div class="row">
            <div class="col-md-3 col-xs-3 name"><%= Item.human_attribute_name(:spec) %></div>
            <div class="col-md-9 col-xs-9 value multiline"><%= item.spec %></div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-3 col-xs-3 name">更新时间</div>
          <div class="col-md-9 col-xs-9 value multiline"><%= item.updated_at.strftime("%F %R") %></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-xs-12">
    <button class="btn btn-default pull-right">
      複檢
    </button>
  </div> -->
</div>
<hr class="mt-3 mb-5">