<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h1 class="page-header">
      <%= t ".header" %>
    </h1>
  </div>
  <div class="col-sm-6 mt-5 text-right mt-6">
    <%= link_to new_admin_item_path, class: "btn btn-primary" do %>
      <i class="fa fa-plus"></i>
      <%= t "admin.items.new.header" %>
    <% end %>
    <%= link_to admin_items_path(format: :xls), class: "btn btn-success mr-1" do %>
      <i class="fa fa-arrow-circle-down"></i>
      <%= t "admin.export_csv" %>
    <% end %>
  </div>
</div>

<%= render @items %>