<h1 class="page-header">
  <%= t ".header" %>
  <%= link_to new_admin_item_path, class: "btn btn-primary pull-right" do %>
    <i class="fa fa-plus"></i>
    <%= t "admin.items.new.header" %>
  <% end %>
  <%= link_to admin_items_path(format: :xls), class: "btn btn-success pull-right mr-1" do %>
    <i class="fa fa-arrow-circle-down"></i>
    <%= t "admin.export_csv" %>
  <% end %>
</h1>

<%= render @items %>