<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"><%= Item.human_attribute_name(:name) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Item.human_attribute_name(:spec) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Item.human_attribute_name(:quantity) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Item.human_attribute_name(:unit) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Item.human_attribute_name(:image) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Item.human_attribute_name(:department_id) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= Item.human_attribute_name(:employee_id) %></Data></Cell>
      </Row>
    <% @items.each do |item| %>
      <Row>
        <Cell><Data ss:Type="String"><%= item.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= item.spec %></Data></Cell>
        <Cell><Data ss:Type="String"><%= item.quantity %></Data></Cell>
        <Cell><Data ss:Type="String"><%= item.unit %></Data></Cell>
        <Cell><Data ss:Type="String"><%= request.base_url + "/" + item.image.url %></Data></Cell>
        <Cell><Data ss:Type="String"><%= item.department.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= item.employee.name %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>