<h1 class="page-header">
  <%= t ".header" %>
  <br class="hidden-md hidden-lg">
  <%= link_to admin_employees_path, class: "btn btn-link pb-0" do %>
    <i class="fa fa-users"></i>
    <%= t "admin.employees.index.header" %>
  <% end %>
  <%= link_to new_admin_department_path, class: "btn btn-primary pull-right icon-btn" do %>
    <i class="fa fa-plus"></i>
    <%= t "admin.departments.new.header" %>
  <% end %>
  <%= link_to admin_departments_path(format: :xls), class: "btn btn-success pull-right mr-1" do %>
    <i class="fa fa-arrow-circle-down"></i>
    <%= t "admin.export_csv" %>
  <% end %>
</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-default">
      <th style="min-width: 120px;">名稱</th>
      <th style="min-width: 110px;">顯示順序</th>
    </thead>
    <tbody>
      <%= render @departments %>
    </tbody>
  </table>
</div>

<%= render "admin/common/modal", model_name: "Department", remote_get: true %>