<h1 class="page-header">
  <%= t(".header") %>
</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center">
      <%= link_to root_path, class: "btn btn-default btn-xs abs-left" do %>
        <i class="fa fa-angle-double-left"></i> <%= t "back" %>
      <% end %>
    	<i class="glyphicon glyphicon-upload"></i>
			<%= t ".upload_xml" %>
      <a class="abs-right" href="#"><%= t ".help_xml" %></a>
    </h3>
  </div>
  <div class="panel-body text-center">
    <%= form_with url: admin_finance_tickets_transform_path, multipart: true, id: "tickets_xml_file_form", data: { remote: false } do %>
      <div class="form-group">
        <%= file_field_tag :tickets_xml_file, accept: ".xls, .xml" %>
        <!-- <div class="well" style="background-color: transparent; box-shadow: none; border: none;" id="uploadArea">
          <i class="fa fa-cloud-upload" style="font-size: 60px;""></i>
        </div>
        <span id="fileName"></span> -->
      </div>
      <div class="form-group">
        <%= button_tag class: "btn btn-primary", id: "uploadBtn", data: { disable_with: "處理中" } do %>
          <i class="fa fa-cloud-download"></i>
          <%= t ".convert_and_download" %>
        <% end %>
      </div>
		<% end %>
  </div>
  <div class="panel-footer"><b>打印须知：</b>选择 “凭证纸”，并调整上下间距为 1 公分。</div>
</div>

<script type="text/javascript">
  // $("#uploadArea").on("click", function() {
  //   $("input#tickets_xml_file").click()
  // })
  // $("input#tickets_xml_file").on("change", function() {
  //   if ($('input#tickets_xml_file').val()) {
  //     $('#uploadBtn').removeClass("hidden")
  //     $("#fileName").html($('input#tickets_xml_file')[0].files[0].name)
  //   }
  // });
</script>