<%= link_to admin_folder_path(id: 99999), class: "btn text-danger btn-sm clickable mx-1 btn-toggle-folder hidden tooltipable", id:"destroyFolderBtn", data: { placement: "bottom", confirm: "删除文件夹，将会一并删除所有其内部文件夹以及文件，确定要删除吗？" }, title: t("tooltips.folders.destroy"), remote: true, method: :delete do %>
  <i class="glyphicon glyphicon-trash"></i>
<% end %>
<a href="#editFolder" class="btn btn-sm clickable ajax-trigger mx-1 btn-toggle-folder hidden tooltipable" id="editFolderBtn" data-placement="bottom" title='<%= t("tooltips.folders.edit") %>' <%= new_ajax_modal("editFolder", edit_admin_folder_path(id: 99999)) %>>
  <i class="fa fa-edit"></i>
</a>
<%= link_to admin_doc_path(id: 99999), class: "btn btn-sm text-danger clickable mx-1 btn-toggle-doc hidden tooltipable", id:"destroyDocBtn", data: { placement: "bottom", confirm: "确定要删除文档吗？" }, title: t("tooltips.docs.destroy"), remote: true, method: :delete do %>
  <i class="glyphicon glyphicon-trash"></i>
<% end %>
<%= link_to edit_admin_doc_path(id: 99999), class: "btn btn-sm clickable mx-1 btn-toggle-doc hidden tooltipable", id: "editDocBtn", data: { placement: "bottom" }, title: t("tooltips.docs.edit") do %>
  <i class="fa fa-edit"></i>
<% end %>
<%= link_to "#download", class: "btn btn-sm btn-download mx-1 btn-toggle-doc hidden tooltipable", data: { action_name: "download", placement: "bottom" }, title: t("tooltips.docs.download") do %>
  <i class="fa fa-download"></i>
<% end %>
<%= link_to "#preview", class: "btn btn-sm btn-preview mx-1 btn-toggle-doc hidden tooltipable", data: { action_name: "preview", placement: "bottom" }, title: t("tooltips.docs.preview") do %>
  <i class="fa fa-eye"></i>
<% end %>
<%= link_to "#share", class: "btn btn-sm btn-share mx-1 mr-2 btn-toggle-doc hidden tooltipable", data: { toggle: "modal", target: "#docShareUrl", placement: "bottom" }, title: t("tooltips.docs.share") do %>
  <i class="fa fa-share"></i>
<% end %>
<%= link_to new_admin_doc_path(folder_id: params[:folder_id]), class: "btn btn-primary mr-1" do %>
  <i class="fa fa-upload"></i>
  <span class="hidden-xs hidden-sm"><%= t "admin.docs.new.header" %></span>
  <span class="hidden-md hidden-lg">上传</span>
<% end %>
<a href="#new_folder" class="btn btn-default clickable ajax-trigger tooltipable" data-placement="bottom" title='<%= t("tooltips.folders.new") %>' <%= new_ajax_modal("newFolder", new_admin_folder_path) %>>
  <i class="fa fa-plus"></i>
  <%= t "admin.folders.new.header" %>
</a>