<a href="#edit" class="btn btn-sm clickable ajax-trigger mx-1 btn-toggle-folder hidden tooltipable" data-action-name="download" data-placement="bottom" title='<%= t("tooltips.folders.edit") %>' <%= ajax_modal(Folder.find(2), "edit", namespace: :admin) %>>
  <i class="fa fa-edit"></i>
</a>
<%= link_to "#download", class: "btn btn-sm btn-download mx-1 btn-toggle-doc hidden tooltipable", data: { action_name: "download", placement: "bottom" }, title: t("tooltips.docs.download") do %>
  <i class="fa fa-download"></i>
<% end %>
<%= link_to "#preview", class: "btn btn-sm btn-preview mx-1 btn-toggle-doc hidden tooltipable", data: { action_name: "preview", placement: "bottom" }, title: t("tooltips.docs.preview") do %>
  <i class="fa fa-eye"></i>
<% end %>
<%= link_to "#share", class: "btn btn-sm btn-share mx-1 mr-2 btn-toggle-doc hidden tooltipable", data: { toggle: "modal", target: "#docShareUrl", placement: "bottom" }, title: t("tooltips.docs.share") do %>
  <i class="fa fa-share"></i>
<% end %>
<%= link_to new_admin_folder_doc_path(folder_id: folder.id), class: "btn btn-primary mr-1" do %>
  <i class="fa fa-upload"></i>
  <span class="hidden-xs hidden-sm"><%= t "admin.docs.new.header" %></span>
  <span class="hidden-md hidden-lg">上传</span>
<% end %>
<a href="#new_folder" class="btn btn-default clickable ajax-trigger tooltipable" data-placement="bottom" title='<%= t("tooltips.folders.new") %>' <%= ajax_modal(Folder.new, "new", namespace: :admin) %>>
  <i class="fa fa-plus"></i>
  <%= t "admin.folders.new.header" %>
</a>