<tr class="doc" data-doc-id="<%= doc.id %>" data-doc-name="<%= doc.name %>" data-folder-id="<%= doc.folder_id %>">
	<td><%= doc.name %></td>
	<td><%= doc.updated_at.strftime("%F %T") %></td>
	<td></td>
</tr>