<%= form_for([:admin, @folder, @doc], html: { class: "col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8", multipart: true }) do |f| %>
  <%= form_errors(@doc) %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <% if @doc.new_record? %>
      	<div class="form-group row">
          <%= label_tag :file, t("admin.file"), class: "col-xs-4 col-form-label" %>
          <div class="col-xs-8">
            <%= file_field_tag :file, class: "form-control-file", disabled: (@doc.persisted?) %>
          </div>
        </div>
      <% end %>
      <% if @doc.persisted? %>
        <div class="form-group row">
          <%= f.label :name, class: "col-xs-4 col-form-label" %>
          <div class="col-xs-8">
            <%= f.text_field :name ,class: "form-control" %>
          </div>
        </div>
      <% end %>
      <div class="form-group row">
        <%= f.label :folder, class: "col-xs-4 col-form-label" %>
        <div class="col-xs-8">
          <%= f.select :folder_id, Folder.all.pluck(:name, :id), { selected: params[:folder_id] || @doc.folder_id, include_blank: "最上层根目录" }, class: "form-control select2" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :code, class: "col-xs-4 col-form-label" %>
        <div class="col-xs-8">
          <%= f.text_field :code, class: "form-control", disabled: (@doc.errors[:code].blank? && @doc.code.present?) %>
        </div>
        <div class="col-xs-12">
      		<p class="help-block">
            <%= t(".replace_hint") %><br>
      		  <%= t(".code_hint") %>
          </p>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :description, class: "col-xs-4 col-form-label" %>
        <div class="col-xs-8">
          <%= f.text_area :description, rows: count_row(f.object.description), class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :note, class: "col-xs-4 col-form-label" %>
        <div class="col-xs-8">
          <%= f.text_area :note, rows: count_row(f.object.note), class: "form-control" %>
        </div>
      </div>
      <%= f.submit class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>