<%= form_for([:admin, @folder, @doc], html: { class: "col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8", multipart: true }) do |f| %>
  <%= form_errors(@doc) %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
    	<div class="form-group row">
        <%= label_tag :file, t("admin.file"), class: "col-xs-4 col-form-label" %>
        <div class="col-xs-8">
          <%= file_field_tag :file, class: "form-control-file", disabled: (@doc.persisted?) %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :folder, class: "col-xs-4 col-form-label" %>
        <div class="col-xs-8">
          <%= f.select :folder_id, Folder.all.pluck(:name, :id), { selected: params[:folder_id] }, class: "form-control select2" %>
        </div>
      </div>
      <div class="checkbox col-xs-8 col-xs-offset-4">
      	<label>
        	<%= f.check_box :iso, { checked: f.object.iso } %>
          <!-- 因為上面的 checkbox 直接 disable 的話會被 POST 忽略掉，所以用一個隱藏的藏起來 -->
          <%#= check_box_tag :iso, { checked: true }, disabled: true %>
        	<%= Doc.human_attribute_name(:iso) %>
      	</label>
      </div>
      <div class="form-group row">
        <%= f.label :code, class: "col-xs-4 col-form-label" %>
        <div class="col-xs-8">
          <%= f.text_field :code, class: "form-control", disabled: (@doc.persisted?) %>
        </div>
        <div class="col-xs-12">
        	<% if @doc.persisted? %>
        		<p class="help-block"><%= t(".replace_hint") %></p>
        	<% else %>
        		<p class="help-block"><%= t(".code_hint") %></p>
        	<% end %>
        </div>
      </div>
      <% if @doc.persisted? %>
	      <%= link_to replace_admin_doc_path(@doc), class: "btn btn-info mb-3" do %>
					<i class="fa fa-upload"></i>
					<%= t(".replace") %>
				<% end %>
        <div class="form-group row">
          <%= f.label :name, class: "col-xs-4 col-form-label" %>
          <div class="col-xs-8">
            <%= f.text_field :name ,class: "form-control" %>
          </div>
        </div>
      <% end %>
      <div class="form-group row">
        <%= f.label :description, class: "col-xs-4 col-form-label" %>
        <div class="col-xs-8">
          <%= f.text_area :description, rows: count_row(f.object.description), class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :note, class: "col-xs-4 col-form-label" %>
        <div class="col-xs-8">
          <%= f.text_area :note, rows: count_row(f.object.note), class: "form-control" %>
        </div>
      </div>
      
      <%= f.submit class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>