<div class="col-xs-12 col-sm-6 col-md-4 dock">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= doc.name %>
      <%= link_to edit_admin_folder_doc_path(doc, folder_id: doc.folder_id), class: "btn btn-xs" do %>
        <i class="fa fa-pencil"></i>
      <% end %>
      <div class="clearfix"></div>
      <span class="pt-1" style="color: #aaa;"><%= doc.created_at.strftime("%F") %> 蔡鴻銘</span>
    </div>
    <div class="panel-footer hidden">
      <div class="row">
        <div class="col-xs-12 text-right">
          <%= link_to download_admin_doc_path(id: doc.id, name: doc.name.gsub(/\./, "_")), class: "btn btn-sm btn-download", target: "_blank" do %>
            <i class="fa fa-download"></i>
          <% end %>
          <%= link_to preview_admin_doc_path(id: doc.id, name: doc.name.gsub(/\./, "_")), class: "btn btn-sm", target: "_blank" do %>
            <i class="fa fa-eye"></i>
          <% end %>
          <%= link_to "#share", class: "btn btn-sm btn-share", data: { toggle: "modal", target: "#docShareUrl" } do %>
            <i class="fa fa-share"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>