<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h1 class="page-header">
      <%= link_to t("admin.#{controller_name}.index.header"), admin_docs_path, style: "text-decoration: none;" %>
      <br class="visible-xs-inline">
      <%= new_breadcrumb @folder, link_to_active: true %>
    </h1>
  </div>
  <div class="col-sm-6 mt-6 text-right">
  	<%= render "actions_in_edit", doc: @doc %>
  </div>
</div>

<div class="row">
  <%= render "form", doc: @doc %>
</div>

<%= render "doc_share_modal" %>
<script type="text/javascript">
	$(document).on("turbolinks:load", function() {
		window.doc_action_url = "/admin/docs/" + "<%= @doc.id %>" + "/action_name?name=" + "<%= @doc.name %>"
	})
</script>