<h1 class="page-header">
  <%= t "admin.#{controller_name}.index.header" %>
  <%= link_to new_admin_folder_doc_path(folder_id: @folder.id), class: "btn btn-primary pull-right" do %>
    <i class="fa fa-upload"></i>
    <%= t "admin.docs.new.header" %>
  <% end %>
</h1>

<div class="row">
  <div class="col-xs-2 col-sm-1">
    <% if @folder.parent.present? %>
      <%= link_to admin_folder_docs_path(folder_id: @folder.parent.try(:id)), class: "abs-left mb-3", style: "font-size: 24px;" do %>
        <i class="fa fa-arrow-left"></i>
      <% end %>
    <% else %>
      <%= link_to root_path, class: "abs-left mb-3", style: "font-size: 24px;" do %>
        <i class="fa fa-arrow-left"></i>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-10 col-sm-11">
    <%= breadcrumb @folder %>
  </div>
</div>


<div class="row mt-2 docks">
  <%= render partial: "folder", collection: @folder.children, as: :folder %>
  <%= render @docs %>
</div>

<%= render "doc_share_modal" %>