<h1 class="page-header">
  <%= t "admin.#{controller_name}.index.header" %>
  <br class="hidden-md hidden-lg">
  <% if controller_name == "iso_docs" %>
    <%= link_to new_admin_iso_doc_path, class: "btn btn-primary pull-right" do %>
      <i class="fa fa-plus"></i>
      <%= t "admin.docs.new.header" %>
    <% end %>
  <% else %>
    <%= link_to new_admin_doc_path, class: "btn btn-primary pull-right" do %>
      <i class="fa fa-plus"></i>
      <%= t "admin.docs.new.header" %>
    <% end %>
  <% end %>
</h1>

<%= link_to root_path, class: "btn btn-default btn-xs abs-left mb-3" do %>
  <i class="fa fa-angle-double-left"></i> <%= t "back" %>
<% end %>

<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-default">
      <th><%= Doc.human_attribute_name(:name) %></th>
      <% if controller_name == "iso_docs" %>
        <th><%= Doc.human_attribute_name(:code) %></th>
      <% end %>
      <th><%= Doc.human_attribute_name(:description) %></th>
      <th><%= Doc.human_attribute_name(:updated_at) %></th>
      <th></th>
    </thead>
    <tbody class="ajax-trigger-container">
      <%= render @docs %>
    </tbody>
  </table>
</div>

<div class="modal fade" id="docShareUrl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">分享鏈結</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="share_timeout">有效時間（秒）</label><br>
          <%= text_field_tag :share_timeout, 600, style: "width: 100px;", class: "form-control" %>
        </div>
        <div class="form-group">
          <label for="share_url">按右鍵複製</label><br>
          <%= text_field_tag :share_url, nil, style: "width: 100%;", class: "form-control" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
  $(".btn-share").on("click", function() {
    window.share_url = $(this).siblings(".btn-download").attr("href")
  })
  $("#docShareUrl").on("shown.bs.modal", function () {
    $("#share_url").val(window.location.origin + window.share_url.replace("download", "share") + "?share_timeout=600")
    $("#share_url").select()
  })
  $("#share_timeout").on("change", function() {
    $("#share_url").val(window.location.origin + window.share_url.replace("download", "share") + "?share_timeout=" + $(this).val())
  })
</script>