<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h1 class="page-header">
      <%= link_to_if params[:folder_id].present?, t("admin.#{controller_name}.index.header"), admin_docs_path, style: "text-decoration: none;" %>
      <br class="visible-xs-inline">
      <%= new_breadcrumb @folder %>
    </h1>
  </div>
  <div class="hidden-xs col-sm-6 mt-6 text-right">
    <%= render "actions" %>
  </div>
</div>

<div class="docks table-responsive">
  <table class="table table-hover <%= 'hidden' unless (@folders.present? || @docs.present?) %>">
    <thead>
      <tr>
        <th>名称</th>
        <th>修改纪录</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="folders">
      <%= render partial: "admin/folders/folder", collection: @folders.order(id: :asc), as: :folder %>
    </tbody>
    <tbody class="docs" style="border-top: 1px solid #ddd;">
      <%= render @docs %>
    </tbody>
  </table>
  <% unless @folders.present? || @docs.present? %>
    <div class="nothing-tip">尚未放置任何文档</div>
  <% end %>
</div>

<%= render "admin/common/new_modal", modal_id: "newFolder", title: I18n.t("admin.folders.new.header"), submit_btn: "建立" do %>
  <% render "admin/folders/form", folder: Folder.new %>
<% end %>
<script type="text/javascript" data-turbolinks-eval="false">
  $(document).on("newFolderSuccess", function(xhr, data) {
    $("tbody.folders").append(data)
    $("table.hidden").removeClass("hidden")
    $("div.nothing-tip").remove()
  })
</script>

<%= render "admin/common/new_modal", modal_id: "editFolder", title: I18n.t("admin.folders.edit.header"), submit_btn: "儲存" %>
<script type="text/javascript" data-turbolinks-eval="false">
  $(document).on("editFolderSuccess", function(xhr, data) {
    $("tr.folder.selected").replaceWith(data)
  })
</script>

<!-- 以下為刪除文件夾的回調 -->
<script type="text/javascript" data-turbolinks-eval="false">
  $(document).on("ajax:success", function(e) {
    if (e.target.id == "destroyFolderBtn") {
      $("tr.folder.selected").remove()
      $(".btn-toggle-folder").addClass("hidden")
    }
  })
  $(document).on("ajax:error", function(e) {
    window.aa = e
    if (e.target.id == "destroyFolderBtn") {
      $("tr.folder.selected").remove()
    }
  })
</script>

<%= render "admin/common/new_modal", modal_id: "editDoc", title: I18n.t("admin.docs.edit.header"), submit_btn: "儲存" %>

<%= render "doc_share_modal" %>